.pattern {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: var(--pattern-color);
}

/* TABLETS */
/* 768px width */
@media (max-width: 48em) {
  .pattern {
    width: 100%;
    height: 100%;
  }

  .pattern svg {
    width: 74.9rem;
    height: 91rem;
  }

  .pattern svg circle {
    cx: 1.05rem;
    cy: -39.35rem;
    r: 61.45rem;
    stroke-width: 22rem;
  }
}

/* PHONES */
/* 375px width */
@media (max-width: 23.5em) {
  .pattern svg {
    width: 32.7rem;
    /* height: 81.2rem; */
    height: 100%;
  }

  .pattern svg circle {
    cx: -9.95rem;
    cy: 22.65rem;
    r: 127.45rem;
    stroke-width: 55rem;
  }
}
