.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 116rem;
  margin: 0 auto;
  padding: 8.3rem 1rem 8.5rem 1rem;
}

/* TABLETS */
/* 768px width */
@media (max-width: 1150px) {
  .header {
    max-width: 64rem;
    padding: 4rem 2rem 4.9rem 2rem;
  }
}

/* PHONES */
/* 375px width */
@media (max-width: 450px) {
  .header {
    width: auto;
    padding: 1.6rem 2rem 4.8rem 2rem;
  }
}
