.option {
  font-family: inherit;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 100%;

  padding: 1.8rem 2rem 1.8rem 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  width: 100%;

  color: var(--secondary-color);
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;
  background: var(--progress-n-option-bg-color);
  box-shadow: 0 1.6rem 4rem 0 var(--box-shadow-color);

  position: relative;
}

.option:not(:last-child) {
  margin-bottom: 2.4rem;
}

.optionLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--option-letter-background-color);
  border-radius: 0.8rem;
}

.option:hover .optionLetterContainer {
  background-color: var(--accessibility-icon-color);
}

.optionLetter {
  color: var(--option-letter-color);
  width: 5.6rem;
  height: 5.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.option:hover .optionLetter {
  color: var(--primary-color);
}

.optionTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionText {
  display: inline-block;

  text-align: left;
}

.option.selected {
  border: 3px solid var(--primary-color);
}

.option.selected .optionLetterContainer {
  background-color: var(--primary-color);
}

.option.selected .optionLetter {
  color: var(--color-white);
}

.option.correct {
  border: 3px solid var(--correct-answer-color);
}

.option.correct .optionLetterContainer {
  background-color: var(--correct-answer-color);
}

.option.correct .optionLetter {
  color: var(--color-white);
}

.option.wrong {
  border: 3px solid var(--wrong-answer-color);
}

.option.wrong .optionLetterContainer {
  background-color: var(--wrong-answer-color);
}

.option.wrong .optionLetter {
  color: var(--color-white);
}

.correctIcon {
  position: absolute;
  top: 2.6rem;
  right: 2rem;
}

/* TABLETS */
/* 768px width */
@media (max-width: 48em) {
  .option {
    padding: 1.2rem;
  }

  .correctIcon {
    top: 2rem;
    right: 1.2rem;
  }
}

/* PHONES */
/* 375px width */
@media (max-width: 23.5em) {
  .option {
    font-size: 1.8rem;
    padding: 1.2rem;
    gap: 1.6rem;
    border-radius: 1.2rem;
  }

  .option:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .optionLetterContainer {
    border-radius: 0.6rem;
  }

  .optionLetter {
    width: 4rem;
    height: 4rem;
  }

  .correctIcon {
    top: 1.6rem;
    right: 1.2rem;
    height: 3.2rem;
    width: 3.2rem;
  }
}
