.option {
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 100%;

  padding: 1.8rem 2rem 1.8rem 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  width: 100%;

  color: #313e51;
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);

  position: relative;
}

.option:not(:last-child) {
  margin-bottom: 2.4rem;
}

.optionLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6fa;
  border-radius: 0.8rem;
}

.option:hover .optionLetterContainer {
  background-color: #f6e7ff;
}

.optionLetter {
  color: #626c7f;
  width: 5.6rem;
  height: 5.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.option:hover .optionLetter {
  color: #a729f5;
}

.optionTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionText {
  display: inline-block;

  text-align: left;
}

.option.selected {
  border: 3px solid #a729f5;
}

.option.selected .optionLetterContainer {
  background-color: #a729f5;
}

.option.selected .optionLetter {
  color: #fff;
}

.option.correct {
  border: 3px solid #26d782;
}

.option.correct .optionLetterContainer {
  background-color: #26d782;
}

.option.correct .optionLetter {
  color: #fff;
}

.option.wrong {
  border: 3px solid #ee5454;
}

.option.wrong .optionLetterContainer {
  background-color: #ee5454;
}

.option.wrong .optionLetter {
  color: #fff;
}

.correctIcon {
  position: absolute;
  top: 2.6rem;
  right: 2rem;
}
