.quizType {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.quizType span {
  padding: 0.8rem;
  border-radius: 1rem;
}

.htmlIcon {
  background-color: #fff1e9;
}
.cssIcon {
  background-color: #e0fdef;
}
.javascriptIcon {
  background-color: #ebf0ff;
}
.accessibilityIcon {
  background-color: #f6e7ff;
}

.quizType div {
  font-size: 2.8rem;
  font-weight: 500;
}
