/* switcher */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4.8rem;
  height: 2.8rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.3rem);
  -ms-transform: translateX(2.3rem);
  transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}
/* changing colors when cheched to the right and hovered */
.switch input:checked:hover + .slider {
  background-color: var(--primary-color);
}

.switch input:checked:hover + .slider:before {
  background-color: var(--color-white);
}

.darkModeSwitcher {
  display: flex;
  gap: 1.6rem;
}

/* PHONES */
/* 375px width */
@media (max-width: 450px) {
  .switch {
    width: 3.2rem;
    height: 2rem;
  }

  .slider:before {
    height: 1.2rem;
    width: 1.2rem;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
  }

  .darkModeSwitcher {
    gap: 0.8rem;
    align-items: center;
  }

  .darkModeSwitcher svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
